<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Hermes Medical</title>
</head>
<body>
  
    
    <section>
        <div>
        <h1> Halaman Admin </h1>
        <p>
            Mengatur semua laporan pada website
        </p>
        <p>
            Homework : <i>1</i>/3
        </p>
        <p>
            <progress value="20" max="30"></progress>
        </p>
        <br><br><br>

        <p>
            <a href="login.html">Log out</a>
        </p>
        </div>
        
    </section>

    <footer>
        @copyright namasayadesta 2020
    </footer>
</body>
</html>