<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature - Hermes Medical</title>

    <link rel="stylesheet" href="styles/main.css"/>
</head>
<body>
    <p> Hermes Medical </p>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home
                </a>
            </li>
            <li>
                <a href="feature.html">Feature
                </a>
            </li>
            <li>
                <a href="#">Pricing
                </a>
            </li>
            <li>
                <a href="login.html">Log in
                </a>
            </li>
        </ul>
    </nav>
  
    <footer>
        @copyright namasayadesta 2020
    </footer>
</body>
</html>